joblib==1.1.1
scikit-learn==1.2.1
streamlit==1.22.0
spacy==3.5.1
chardet==4.0.0
xgboost==1.7.3
pandas==1.4.4
pysrt==1.1.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
